In [82]:

import os
import sys
import pandas as pd
import random
import matplotlib.pyplot as plt
import sqlite3
from bs4 import BeautifulSoup, ResultSet
import urllib.request
import re
import glob
import warnings
from tqdm import tnrange, tqdm_notebook
from random import randint
import time 
from time import sleep
from selenium import webdriver
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import Select

# http://efm.aeaweb.org/vivisimo/cgi-bin/query-meta?v%3aproject=econlit&v%3asources=All&&v%3aproject=econlit&v%3aframe=form&form=econlit-advanced&
# https://askubuntu.com/questions/870530/how-to-install-geckodriver-in-ubuntu
#Importing packages

warnings.filterwarnings('ignore')
random.seed(666)
os.chdir('/home/chris/HOPE/data/')

In [204]:
### CHEATING
### CHEATING

driver = webdriver.Firefox()
time.sleep(6) 
driver.get('https://libguides.liverpool.ac.uk/az.php?a=w')
time.sleep(6) 
driver.find_element_by_xpath(u'/html/body/div[2]/div/div[4]/section[2]/div/div[1]/div[3]/div/div[2]/div[2]/div[1]/a').click()
time.sleep(6) 

#driver.find_element_by_id("value(input1)").send_keys("SO = ECONOMIC JOURNAL OR SO = ECONOMETRICA OR SO = AMERICAN ECONOMIC REVIEW OR SO = JOURNAL OF POLITICAL ECONOMY OR SO = QUARTERLY JOURNAL OF ECONOMICS OR SO = REVIEW OF ECONOMIC STUDIES")
#driver.find_element_by_id("search-button").click()
#driver.find_element_by_xpath("username").send_keys("ehengel")
#driver.find_element_by_name("j_username").send_keys("adoDEM88")
#query(IS = "1468-0297") # EJ
#query(IS = "1468-0262") # ECA
#query(IS = "1944-7981") # AER
#query(IS = "1537-534X") # JPE
#query(IS = "1531-4650") # QJE
#query(IS = "1467-937X") # RES
#  SO = ECONOMIC JOURNAL OR SO = ECONOMETRICA OR SO = AMERICAN ECONOMIC REVIEW OR SO = JOURNAL OF POLITICAL ECONOMY OR SO = QUARTERLY JOURNAL OF ECONOMICS OR SO = REVIEW OF ECONOMIC STUDIES
#driver.switch_to.window(driver.window_handles[1])
#driver.find_element_by_link_text("Advanced Search").click()
#driver.find_element_by_id("value(input1)").send_keys("SO = ECONOMIC JOURNAL OR SO = ECONOMETRICA OR SO = AMERICAN ECONOMIC REVIEW OR SO = JOURNAL OF POLITICAL ECONOMY OR SO = QUARTERLY JOURNAL OF ECONOMICS OR SO = REVIEW OF ECONOMIC STUDIES")
#driver.find_element_by_id("search-button").click()
#time.sleep(6) 
#driver.switch_to.window(driver.window_handles[1])
#driver.find_element_by_xpath("markFrom").send_keys("11")
#driver.find_element_by_id("value(input1)").send_keys("IS = " + IS)

In [240]:

# Read all .txt files extracted from Web of Science
path = '/home/chris/HOPE/data/'
os.chdir('/home/chris/HOPE/data/')
files = [f for f in os.listdir(path) if os.path.isfile(f)]
data =  pd.DataFrame([])
for file in files:
    df = pd.read_table(file)
    df = df.iloc[1:,:]
    df.columns = ["metadata"]
    data = data.append(df)
    
# Make an identifying key for each idividual article
data["idx"] = ""
data.columns = ["metadata", "idx"]
counter = Article.ArticleID.max() + 1
for k in tqdm_notebook(range(0, len(data))):
    string = data.iloc[k,0]
    if string[:2] == "PT":
        data.iloc[k,-1] = int(counter)
        counter = counter +1 
data = data.replace(r'^\s*$', np.nan, regex=True)
data["idx"] = data["idx"].ffill()
data.to_csv("clean_data.csv")

# Keep all rows that ARENT already in existing .db
data['category'] = data['metadata'].str[:2]
WOS = data[data["category"] == "UT"] 
WOS["WOS"]= WOS['metadata'].str[3:]
WOS_set = set(WOS.WOS)
DOI = data[data["category"] == "DI"] 
DOI["DOI"]= DOI['metadata'].str[3:]
DOI_set = set(DOI.DOI)
new_DOI = list(DOI_set) + list(WOS_set)
master_DOI = list(set(DOICorr.DOI))
new = [x for x in new_DOI if not x in master_DOI]
DOI = DOI[["idx", "DOI"]]
WOS = WOS[["idx", "WOS"]]
WOS.columns = ["idx","DOI"]
df = DOI.append(WOS)
df = df[df['DOI'].isin(new)]
keep = list(set(df.idx))
df = data[data['idx'].isin(keep)]
df.to_csv("clean_data_2.csv")


# Reindex 
df["idx"] = ""
counter = Article.ArticleID.max() + 1
for k in tqdm_notebook(range(0, len(df))):
    string = df.iloc[k,0]
    if string[:2] == "PT":
        df.iloc[k,-2] = int(counter)
        counter = counter +1 
df = df.replace(r'^\s*$', np.nan, regex=True)
df["idx"] = df["idx"].ffill()
df.to_csv("clean_data_3.csv")
#df = pd.read_csv("clean_data_3.csv")
#df = df.drop(columns = ["Unnamed: 0"])

# Pick out individual authors
df['af_flag'] = pd.np.where(df.category.str.contains("AF"), "AF",
                            pd.np.where(df.category.str.contains("TI"), "TI",
                            pd.np.where(df.category.str.contains("AU"), "AU", "")))
df = df.replace(r'^\s*$', np.nan, regex=True)
df["af_flag"] = df["af_flag"].ffill()
df = df.replace(r'^\s*$', np.nan, regex=True)
df["idx"] = df["idx"].ffill()
authors = df[df["af_flag"] == "AF"]
authors = authors['metadata'].str[3:]
authors = pd.DataFrame(authors)
authors = authors.drop_duplicates()

# Get rid of authors that are not already in dataset
existing_authors = set(Author.AuthorName)
new_authors = set(authors.metadata)
new_authors = [x for x in new_authors if not x in existing_authors]
new_authors = pd.DataFrame(new_authors)
new_authors["AuthorID"] = range(0, len(new_authors))
new_authors["AuthorID"] = new_authors["AuthorID"] + Author.AuthorID.max()

HBox(children=(FloatProgress(value=0.0, max=1094635.0), HTML(value='')))

In [551]:
Author

,index,AuthorID,AuthorName,Sex,NativeLanguage,PhDYear,Note
0,0,1,A. Abigail Payne,Female,NaN,NaN,NaN
1,1,2,A. Andrew John,Male,English,NaN,NaN
2,2,3,A. Belloni,Male,NaN,NaN,NaN
3,3,4,A. Colin Cameron,Male,English,NaN,NaN
4,4,5,A. Joshua Strickland,Male,English,NaN,NaN
...,...,...,...,...,...,...,...
8205,8205,9615,Edward Tower,Male,NaN,NaN,NaN
8206,8206,9616,Andrew Feltenstein,Male,NaN,NaN,NaN
8207,8207,9617,Steven Braithwait,Male,NaN,NaN,NaN
8208,8208,9618,John S. Pettengill,Male,NaN,NaN,NaN
8209,8209,9619,Michael J. Prior,Male,NaN,NaN,NaN

In [548]:
new_authors

                        0  AuthorID
0                Towse, R      9619
1             KITCHIN, PD      9620
2      Shamdasani, Yogita      9621
3                 Park, Y      9622
4            MCCLELLAN, M      9623
...                   ...       ...
15546     HENDERSHOTT, RJ     25165
15547           LEVIN, RC     25166
15548           CLAGUE, E     25167
15549       LEVINTHAL, DA     25168
15550    Genicot, Garance     25169

[15551 rows x 2 columns]

In [527]:
df.to_csv("testtttt111tt.csv")

In [514]:
df["af_flag"] = df["af_flag"].ffill()

In [449]:
test = pd.DataFrame(df['metadata'].str[:3])
test = test[test["metadata"] == ""]

In [519]:
df

,metadata,idx,category,af_flag
0,PT J,11725.0,PT,NaN
1,"AU WORSWICK, GDN",11725.0,AU,AU
2,"AF WORSWICK, GDN",11725.0,AF,AF
3,TI THE CONVEXITY OF THE PRODUCTION POSSIBILITY...,11725.0,TI,TI
4,SO ECONOMIC JOURNAL,11725.0,SO,TI
...,...,...,...,...
640236,GA 417GV,28913.0,GA,TI
640237,UT WOS:000264065400013,28913.0,UT,TI
640238,OA Green Accepted,28913.0,OA,TI
640239,DA 2020-06-17,28913.0,DA,TI
640240,ER,28913.0,ER,TI

In [458]:
authors = df[df["category"] == "  "]

In [503]:
df

,metadata,idx,category,af_flag
0,PT J,11725.0,PT,nan
1,"AU WORSWICK, GDN",11725.0,AU,AU
2,"AF WORSWICK, GDN",11725.0,AF,AF
3,TI THE CONVEXITY OF THE PRODUCTION POSSIBILITY...,11725.0,TI,TI
4,SO ECONOMIC JOURNAL,11725.0,SO,nan
...,...,...,...,...
640236,GA 417GV,28913.0,GA,nan
640237,UT WOS:000264065400013,28913.0,UT,nan
640238,OA Green Accepted,28913.0,OA,nan
640239,DA 2020-06-17,28913.0,DA,nan
640240,ER,28913.0,ER,nan

In [387]:
len(keep)

17189

In [394]:
df

                                                metadata      idx category
1                                                   PT J  11725.0       PT
2                                       AU WORSWICK, GDN  11725.0       AU
3                                       AF WORSWICK, GDN  11725.0       AF
4      TI THE CONVEXITY OF THE PRODUCTION POSSIBILITY...  11725.0       TI
5                                    SO ECONOMIC JOURNAL  11725.0       SO
...                                                  ...      ...      ...
21946                                           GA 417GV  40252.0       GA
21947                             UT WOS:000264065400013  40252.0       UT
21948                                  OA Green Accepted  40252.0       OA
21949                                      DA 2020-06-17  40252.0       DA
21950                                                 ER  40252.0       ER

[640241 rows x 3 columns]

In [363]:
len(master_DOI)

31081

In [368]:
len(keep)

28536

In [350]:

df = data[data['idx'].isin(new)]

In [333]:
print(len(new))
print(len(set(data.idx)))

28454
28536

In [356]:
data

                                                metadata      idx category
1                                                   PT J  11725.0       PT
2                                       AU WORSWICK, GDN  11725.0       AU
3                                       AF WORSWICK, GDN  11725.0       AF
4      TI THE CONVEXITY OF THE PRODUCTION POSSIBILITY...  11725.0       TI
5                                    SO ECONOMIC JOURNAL  11725.0       SO
...                                                  ...      ...      ...
22291                                           GA 426WN  40260.0       GA
22292                             UT WOS:000264739100003  40260.0       UT
22293                                      DA 2020-06-17  40260.0       DA
22294                                                 ER  40260.0       ER
22295                                                 EF  40260.0       EF

[1094635 rows x 3 columns]

In [294]:
new

['10.1111/j.1468-0297.2010.02406.x',
 '10.1257/0002828053828446',
 '10.2307/2296646',
 '10.1086/259518',
 '10.1093/ej/uez027',
 '10.2307/1907807',
 '10.1086/255831',
 '10.1111/1468-0297.00597',
 '10.1111/ecoj.12616',
 '10.2307/1911463',
 '10.3982/ECTA14151',
 '10.2307/1907312',
 '10.1093/qje/qjw022',
 '10.2307/2227703',
 '10.2307/2231739',
 '10.2307/1884343',
 '10.2307/2296501',
 '10.2307/2225642',
 '10.1093/ej/uez040',
 '10.1111/ecoj.12156',
 '10.3982/ECTA14649',
 '10.1086/258855',
 '10.2307/2227734',
 '10.2307/2296096',
 '10.1111/ecoj.12570',
 '10.1257/000282802320189285',
 '10.2307/1884183',
 '10.2307/1883812',
 '10.3982/ECTA15712',
 '10.2307/2234580',
 '10.1086/258200',
 '10.2307/2233467',
 '10.1111/j.1468-0297.2009.02270.x',
 '10.2307/2232253',
 '10.2307/2227128',
 '10.2307/2296753',
 '10.1257/000282802760015801',
 '10.2307/2296567',
 '10.3982/ECTA11696',
 '10.1257/aer.98.2.116',
 '10.1086/257123',
 '10.1093/qje/qjz012',
 '10.2307/2296045',
 '10.1111/ecoj.12482',
 '10.1111/1468-0297.00649',
 '10.1111/ecoj.12339',
 '10.2307/2227405',
 '10.1257/aer.100.2.321',
 '10.2307/2295933',
 '10.2307/1884118',
 '10.1257/aer.20150237',
 '10.1086/255767',
 '10.2307/2233302',
 '10.2307/2296397',
 '10.2307/1907187',
 '10.2307/1880615',
 '10.2307/2231745',
 '10.1086/256488',
 '10.2307/2228537',
 '10.2307/1911751',
 '10.2307/2296778',
 '10.2307/2227557',
 '10.2307/1885997',
 '10.2307/2227247',
 '10.2307/2234477',
 '10.2307/1880576',
 '10.1086/256459',
 '10.2307/1883135',
 '10.2307/2296918',
 '10.1257/aer.91.2.381',
 '10.1086/259333',
 '10.2307/1907621',
 '10.1086/258668',
 '10.2307/2234075',
 '10.2307/2229570',
 '10.2307/2234634',
 '10.2307/2227960',
 '10.1257/aer.20160232',
 '10.2307/1905448',
 '10.2307/2226526',
 '10.2307/1884513',
 '10.2307/2295847',
 '10.1257/000282806777211775',
 '10.1086/257664',
 '10.1111/1468-0297.00115',
 '10.2307/1885940',
 '10.1257/aer.20171634',
 '10.1257/aer.97.1.5',
 '10.2307/1883817',
 '10.1086/255668',
 '10.2307/1907780',
 '10.2307/2229037',
 '10.1257/aer.p20161009',
 '10.1086/256843',
 '10.1257/aer.90.2.81',
 '10.1086/258782',
 '10.2307/2230211',
 '10.1093/restud/rdy022',
 '10.2307/1883191',
 '10.2307/1884132',
 '10.2307/2233659',
 '10.1257/0002828053828635',
 '10.2307/2233476',
 '10.2307/1884254',
 '10.2307/1910991',
 '10.2307/1885313',
 '10.2307/2234095',
 '10.1093/qje/qjx032',
 '10.1257/aer.20141313',
 '10.1086/259352',
 '10.1086/257499',
 '10.2307/2227119',
 '10.2307/1881827',
 '10.2307/2234772',
 '10.1086/259403',
 '10.2307/2234076',
 '10.2307/1905717',
 '10.2307/2234579',
 '10.1086/705707',
 '10.1257/00028280260344687',
 '10.2307/1883156',
 '10.1086/258735',
 '10.2307/2227209',
 '10.2307/2296524',
 '10.1257/aer.15000024',
 '10.2307/2232591',
 '10.2307/1880731',
 '10.1257/aer.101.4.1073',
 '10.1257/000282802762024674',
 '10.2307/1884182',
 '10.2307/2233372',
 '10.2307/1880704',
 '10.1257/aer.20141222',
 '10.1111/ecoj.12141',
 '10.2307/1907177',
 '10.1257/aer.99.2.501',
 '10.2307/2226147',
 '10.3982/ECTA10927',
 '10.1257/aer.20131118',
 '10.2307/2235503',
 '10.2307/2296321',
 '10.3982/ECTA13636',
 '10.2307/1884452',
 '10.1086/260217',
 '10.2307/2226684',
 '10.1086/256248',
 '10.2307/2229217',
 '10.2307/1884434',
 '10.1111/ecoj.12390',
 '10.2307/1884474',
 '10.2307/2234195',
 '10.1111/1468-0262.00344',
 '10.1257/aer.99.2.69',
 '10.2307/2227632',
 '10.2307/2231601',
 '10.3982/ECTA12099',
 '10.1257/aer.20151703',
 '10.1111/1468-0297.00734',
 '10.2307/2227556',
 '10.1257/aer.90.2.373',
 '10.1257/000282806777211685',
 '10.1257/aer.98.2.376',
 '10.1257/aer.20121660',
 '10.2307/2228404',
 '10.1257/0002828041301849',
 '10.2307/2225908',
 '10.2307/1907321',
 '10.1111/ecoj.12609',
 '10.1086/695474',
 '10.1086/255562',
 '10.2307/1884147',
 '10.1257/aer.98.2.181',
 '10.1086/256089',
 '10.1257/000282802320189393',
 '10.2307/2296640',
 '10.1257/aer.99.2.556',
 '10.3982/ECTA13434',
 '10.2307/2231405',
 '10.2307/1883719',
 '10.1257/000282803321455278',
 '10.2307/2234074',
 '10.2307/1880527',
 '10.2307/2226449',
 '10.1257/aer.p20171009',
 '10.2307/2227322',
 '10.2307/1891133',
 '10.1111/1468-0262.00044',
 '10.1257/000282802320189195',
 '10.2307/1885148',
 '10.2307/2227513',
 '10.1257/aer.97.5.2026',
 '10.1111/ecoj.12214',
 '10.2307/2227208',
 '10.2307/1911752',
 '10.2307/2227317',
 '10.1111/1468-0297.00296',
 '10.1257/aer.98.1.5',
 '10.2307/2226749',
 '10.2307/2296427',
 '10.1111/ecoj.12439',
 '10.1257/aer.20141300',
 '10.2307/2235108',
 '10.1111/j.1468-0297.2012.02527.x',
 '10.1111/j.1468-0297.2008.02177.x',
 '10.2307/2233861',
 '10.3982/ECTA13615',
 '10.1111/1468-0297.00353',
 '10.2307/1884703',
 '10.1086/704385',
 '10.1257/aer.20140105',
 '10.2307/1879330',
 '10.2307/2233811',
 '10.1257/aer.20131706',
 '10.1111/1468-0297.0j671',
 '10.2307/1905577',
 '10.2307/2232888',
 '10.2307/2230482',
 '10.1111/ecoj.12085',
 '10.1111/j.1468-0297.2009.02267.x',
 '10.1257/000282806777212008',
 '10.2307/1884745',
 '10.1093/ej/uez030',
 '10.2307/1911816',
 '10.2307/2226383',
 '10.1257/000282806777212143',
 '10.1093/restud/rdz043',
 '10.1111/ecoj.12530',
 '10.1257/aer.20161109',
 '10.1086/258074',
 '10.1111/ecoj.12088',
 '10.1257/00028280260136327',
 '10.1086/259111',
 '10.2307/1882044',
 '10.1111/1468-0262.00322',
 '10.1257/aer.97.2.362',
 '10.2307/2227040',
 '10.2307/2234746',
 '10.1046/j.0013-0133.2003.00166.x',
 '10.1086/258884',
 '10.1111/j.0013-0133.2005.00978.x',
 '10.2307/3038231',
 '10.1086/256457',
 '10.2307/2231704',
 '10.1086/257676',
 '10.2307/2229999',
 '10.1111/j.1468-0297.2011.02449.x',
 '10.1257/aer.100.2.465',
 '10.2307/1905719',
 '10.2307/1880677',
 '10.2307/1879453',
 '10.2307/2226106',
 '10.2307/2229721',
 '10.1257/aer.20140015',
 '10.2307/2230801',
 '10.1257/aer.20161534',
 '10.1257/aer.100.2.516',
 '10.2307/1880627',
 '10.2307/2231791',
 '10.2307/2295809',
 '10.2307/2974407',
 '10.2307/2227205',
 '10.2307/2226108',
 '10.2307/2235017',
 '10.2307/2235111',
 '10.2307/2296688',
 '10.1111/j.1468-0297.2012.02510.x',
 '10.1257/aer.98.2.423',
 '10.2307/2234478',
 '10.2307/2229178',
 '10.2307/1880613',
 '10.1093/qje/qjy020',
 '10.2307/2234292',
 '10.3982/ECTA16047',
 '10.1257/aer.p20161124',
 '10.1257/aer.p20171115',
 '10.1257/aer.20161080',
 '10.1257/aer.p20161017',
 '10.2307/1879403',
 '10.2307/2295724',
 '10.2307/1881712',
 '10.2307/1880671',
 '10.1093/restud/rdz003',
 '10.1257/000282802320189069',
 '10.2307/1884255',
 '10.1257/aer.p20161100',
 '10.2307/2229307',
 '10.2307/2226870',
 '10.2307/2232551',
 '10.1257/000282803321455296',
 '10.2307/1879402',
 '10.2307/1883723',
 '10.1257/aer.p20161033',
 '10.1257/aer.20161491',
 '10.3982/ECTA15668',
 '10.2307/2296587',
 '10.1111/1468-0297.00577',
 '10.1086/258817',
 '10.1111/j.1468-0297.2007.02119.x',
 '10.2307/2296723',
 '10.1111/j.1468-0297.2009.02301.x',
 '10.2307/2234189',
 '10.2307/2229347',
 '10.2307/1884199',
 '10.2307/1909984',
 '10.2307/1907315',
 '10.1257/0002828041301713',
 '10.2307/2296028',
 '10.2307/2229036',
 '10.2307/2230441',
 '10.2307/1884385',
 '10.2307/1886043',
 '10.1257/aer.p20171089',
 '10.2307/2295891',
 '10.2307/2229471',
 '10.1111/j.1468-0297.2009.02298.x',
 '10.2307/2295849',
 '10.1111/ecoj.12275',
 '10.2307/1879506',
 '10.1111/ecoj.12564',
 '10.1111/ecoj.12508',
 '10.2307/1909633',
 '10.1086/695477',
 '10.1111/ecoj.12486',
 '10.1257/aer.91.1.342',
 '10.1111/1468-0297.00068',
 '10.1086/258394',
 '10.2307/2296447',
 '10.2307/2296624',
 '10.1111/1468-0297.00253',
 '10.1111/1468-0297.00442',
 '10.1086/256867',
 '10.2307/1884444',
 '10.1111/j.1468-0297.2007.02061.x',
 '10.2307/1909290',
 '10.1257/aer.20151720',
 '10.1257/aer.20161492',
 '10.1257/aer.20141123',
 '10.2307/2295777',
 '10.1257/000282802320188943',
 '10.1257/aer.100.2.552',
 '10.2307/1883174',
 '10.1257/aer.20151181',
 '10.1093/qje/qjz029',
 '10.1257/000282802320191660',
 '10.3982/ECTA15011',
 '10.2307/2230673',
 '10.1086/259359',
 '10.2307/1884324',
 '10.1086/258370',
 '10.2307/1882222',
 '10.2307/1883062',
 '10.1111/j.1468-0297.2006.01128.x',
 '10.1257/aer.90.2.28',
 '10.1257/aer.20120555',
 '10.2307/1884814',
 '10.2307/2967518',
 '10.1093/qje/qjz024',
 '10.1086/255983',
 '10.2307/2296817',
 '10.1257/000282802320191714',
 '10.2307/2234781',
 '10.2307/2234285',
 '10.2307/2232592',
 '10.1086/257629',
 '10.2307/1907718',
 '10.2307/1909637',
 '10.1086/699211',
 '10.1111/1468-0297.00359',
 '10.2307/2234435',
 '10.1093/qje/qjy034',
 '10.1111/ecoj.12043',
 '10.1093/restud/rdy074',
 '10.2307/2233423',
 '10.1086/261602',
 '10.1111/j.1468-0297.2012.02503.x',
 '10.2307/2226823',
 '10.1086/255852',
 '10.3982/ECTA11069',
 '10.2307/1886081',
 '10.2307/1905679',
 '10.2307/2296686',
 '10.2307/2296057',
 '10.1111/ecoj.12419',
 '10.1111/j.1468-0297.2012.02525.x',
 '10.2307/2234582',
 '10.2307/1884466',
 '10.1257/aer.108.7.1609',
 '10.2307/1880823',
 '10.2307/2235053',
 '10.1257/000282803321455421',
 '10.2307/2234718',
 '10.1257/aer.89.2.192',
 '10.1111/1468-0297.00505',
 '10.1086/688175',
 '10.2307/2296038',
 '10.1111/ecoj.12587',
 '10.2307/2296559',
 '10.2307/1885329',
 '10.1257/aer.90.2.85',
 '10.2307/2229468',
 '10.1257/aer.20171840',
 '10.2307/2233512',
 '10.1257/0002828041302046',
 '10.2307/1906925',
 '10.2307/2296030',
 '10.1111/1468-0297.00193',
 '10.1086/257743',
 '10.1086/691465',
 '10.2307/1880779',
 '10.2307/2234249',
 '10.1093/qje/qjz018',
 '10.1111/1468-0297.00531',
 '10.2307/2228221',
 '10.2307/1909829',
 '10.2307/1885328',
 '10.2307/2235378',
 '10.1111/ecoj.12074',
 '10.2307/2229308',
 '10.1111/ecoj.12020',
 '10.3982/ECTA846FORTH',
 '10.1086/257458',
 '10.2307/2295876',
 '10.1111/1468-0262.00185',
 '10.2307/2937829',
 '10.2307/1905291',
 '10.1111/ecoj.12610',
 '10.2307/2296266',
 '10.1257/aer.98.2.398',
 '10.2307/1909171',
 '10.2307/1879604',
 '10.1086/258730',
 '10.2307/2228440',
 '10.1086/688876',
 '10.2307/1884249',
 '10.1111/ecoj.12635',
 '10.2307/2226938',
 '10.2307/2296179',
 '10.2307/2234140',
 '10.2307/1884401',
 '10.1257/aer.90.2.355',
 '10.2307/1909831',
 '10.1086/258612',
 '10.2307/1884684',
 '10.2307/2233166',
 '10.2307/1913731',
 '10.1111/j.1468-0297.2011.02437.x',
 '10.1086/259627',
 '10.1086/260878',
 '10.1086/257149',
 '10.2307/2296866',
 '10.1086/258321',
 '10.1257/aer.20180496',
 '10.2307/2234581',
 '10.2307/2234976',
 '10.1086/258700',
 '10.1257/aer.91.2.125',
 '10.1093/qje/qjv038',
 '10.1257/000282806777212459',
 '10.1257/0002828042002624',
 '10.2307/2230002',
 '10.1111/j.1468-0297.2009.02316.x',
 '10.2307/2232166',
 '10.2307/2230525',
 '10.2307/2235211',
 '10.2307/2226791',
 '10.1093/restud/rdz022',
 '10.1086/258755',
 '10.2307/2296060',
 '10.2307/2226708',
 '10.2307/2296072',
 '10.2307/2234982',
 '10.1257/aer.98.2.357',
 '10.2307/2296418',
 '10.2307/2296752',
 '10.2307/2233916',
 '10.2307/1883298',
 '10.1086/256286',
 '10.1086/257708',
 '10.2307/2232357',
 '10.1086/260381',
 '10.2307/2171929',
 '10.2307/2230481',
 '10.2307/2232351',
 '10.2307/2229950',
 '10.2307/2295900',
 '10.2307/1883084',
 '10.2307/1883069',
 '10.1111/ecoj.12615',
 '10.2307/1907359',
 '10.1111/1468-0297.00333',
 '10.2307/2233256',
 '10.2307/2296398',
 '10.1111/1468-0297.00119',
 '10.2307/2235500',
 '10.1086/257092',
 '10.1111/ecoj.12417',
 '10.1257/aer.20151739',
 '10.1111/ecoj.12601',
 '10.1086/259320',
 '10.2307/2296631',
 '10.2307/1884476',
 '10.1257/000282802320191651',
 '10.2307/1881757',
 '10.2307/2235419',
 '10.2307/2235574',
 '10.1111/j.1468-0297.2009.02311.x',
 '10.1111/1468-0297.00125',
 '10.2307/2226253',
 '10.1086/255586',
 '10.2307/2231871',
 '10.2307/1879548',
 '10.1257/aer.20160613',
 '10.2307/2234427',
 '10.1111/ecoj.12079',
 '10.2307/2296165',
 '10.2307/2234713',
 '10.2307/1883141',
 '10.2307/3038236',
 '10.1086/258784',
 '10.1111/1468-0297.00391',
 '10.1111/1468-0297.00370',
 '10.2307/1883201',
 '10.2307/2234589',
 '10.2307/2946665',
 '10.1257/aer.91.2.135',
 '10.1086/260552',
 '10.2307/1909948',
 '10.1257/0002828041301498',
 '10.1257/000282805774669727',
 '10.3982/ECTA14138',
 '10.1086/257654',
 '10.1086/256063',
 '10.2307/2295980',
 '10.3982/ECTA15463',
 '10.1086/260386',
 '10.2307/1906861',
 '10.1257/aer.96.5.1373',
 '10.2307/2230568',
 '10.2307/2228991',
 '10.1111/ecoj.12307',
 '10.2307/2235372',
 '10.1086/255564',
 '10.2307/1909204',
 '10.2307/1885263',
 '10.2307/2230895',
 '10.1111/j.1468-0297.2009.02326.x',
 '10.2307/1905465',
 '10.1111/j.1468-0297.2012.02519.x',
 '10.1111/j.1468-0297.2007.02045.x',
 '10.1111/j.1468-0297.2007.02108.x',
 '10.1257/aer.20140297',
 '10.1111/j.1468-0297.2011.02463.x',
 '10.2307/1885849',
 '10.2307/2296497',
 '10.1257/aer.p20161122',
 '10.2307/1885893',
 '10.1257/aer.p20161047',
 '10.2307/1880624',
 '10.2307/2231366',
 '10.1111/j.0013-0133.2003.00196.x',
 '10.1111/ecoj.12258',
 '10.1257/aer.20160542',
 '10.1257/0002828041302299',
 '10.2307/2998544',
 '10.1086/256349',
 '10.1111/j.1468-0297.2007.02017.x',
 '10.2307/1909727',
 '10.1257/aer.89.4.994',
 '10.2307/1883599',
 '10.2307/1905567',
 '10.2307/2228444',
 '10.2307/2233318',
 '10.2307/1911632',
 '10.2307/2296474',
 '10.2307/2231603',
 '10.1257/aer.20160251',
 '10.1093/restud/rdz004',
 '10.3982/ECTA11206',
 '10.2307/1879536',
 '10.1111/j.1468-0297.2006.01111.x',
 '10.1093/restud/rdz012',
 '10.1111/1468-0297.t01-1-00155',
 '10.3982/ECTA12340',
 '10.2307/2296113',
 '10.2307/1882208',
 '10.1257/aer.20180773',
 '10.2307/2234037',
 '10.1257/000282803321946912',
 '10.1086/259613',
 '10.2307/2227670',
 '10.1111/ecoj.12225',
 '10.2307/1905731',
 '10.2307/2232876',
 '10.2307/2232988',
 '10.1111/ecoj.12563',
 '10.1111/j.1468-0297.2005.01004.x',
 '10.1111/1468-0297.00497',
 '10.1257/000282806777212369',
 '10.2307/1881875',
 '10.2307/2234714',
 '10.2307/2231107',
 '10.2307/2296294',
 '10.2307/1880824',
 '10.2307/2296837',
 '10.1086/258610',
 '10.1111/j.1468-0297.2007.02070.x',
 '10.1111/1468-0262.00097',
 '10.2307/1880616',
 '10.1257/aer.91.2.112',
 '10.2307/1882224',
 '10.1257/aer.20131311',
 '10.1257/aer.20180946',
 '10.1086/258129',
 '10.1086/259714',
 '10.2307/2234442',
 '10.2307/2234787',
 '10.2307/1883165',
 '10.2307/1912308',
 '10.2307/1881769',
 '10.1257/aer.20170973',
 '10.1086/700765',
 '10.2307/2227929',
 '10.1257/aer.89.2.63',
 '10.1086/684750',
 '10.2307/1907806',
 '10.1257/aer.p20171128',
 '10.1257/aer.100.2.125',
 '10.1257/000282802762024692',
 '10.1086/260518',
 '10.1257/aer.p20161116',
 '10.1086/257537',
 '10.2307/1885130',
 '10.1093/qje/qjw010',
 '10.2307/2234583',
 '10.2307/2234254',
 '10.1257/000282802320191732',
 '10.1257/aer.20141482',
 '10.1111/1468-0297.00261',
 '10.1257/aer.89.5.1319',
 '10.2307/1883336',
 '10.1111/ecoj.12131',
 '10.1086/700936',
 '10.2307/2231510',
 '10.2307/2295835',
 '10.2307/2295820',
 '10.1086/256511',
 '10.2307/1884424',
 '10.2307/2233845',
 '10.2307/1905785',
 '10.2307/2232442',
 '10.1257/aer.20180501',
 '10.2307/1885093',
 '10.2307/1885095',
 '10.1257/aer.100.2.224',
 '10.1086/259035',
 '10.2307/1885227',
 '10.2307/1882918',
 '10.1257/aer.20171735',
 '10.1111/ecoj.12327',
 '10.2307/1907849',
 '10.2307/1882916',
 '10.2307/2959830',
 '10.2307/2234029',
 '10.1086/259416',
 '10.1257/aer.p20161010',
 '10.2307/2231448',
 '10.1257/aer.91.2.358',
 '10.2307/1882018',
 '10.1086/258914',
 '10.1111/ecoj.12220',
 '10.2307/1906876',
 '10.1257/aer.90.2.209',
 '10.1111/j.1468-0297.2008.02167.x',
 '10.2307/2234430',
 '10.2307/2231870',
 '10.1086/701354',
 '10.2307/2233844',
 '10.2307/1879627',
 '10.2307/2228402',
 '10.2307/2296384',
 '10.2307/2227787',
 '10.2307/2235460',
 '10.2307/1907357',
 '10.1257/aer.97.2.306',
 '10.2307/2230210',
 '10.1086/260521',
 '10.2307/2232558',
 '10.1086/258772',
 '10.1111/1468-0297.00033',
 '10.1257/aer.20160658',
 '10.1257/aer.97.2.210',
 '10.1111/ecoj.12633',
 '10.1257/aer.97.2.339',
 '10.1093/qje/qjy033',
 '10.1111/j.1468-0297.2008.02180.x',
 '10.2307/2227593',
 '10.2307/2231835',
 '10.1086/256374',
 '10.1257/aer.91.2.1',
 '10.2307/2231748',
 '10.2307/2296850',
 '10.2307/2235410',
 '10.2307/2225822',
 '10.1257/aer.98.2.68',
 '10.2307/1907020',
 '10.2307/1912719',
 '10.2307/2296193',
 '10.2307/2225846',
 '10.2307/2232925',
 '10.1257/000282805774670194',
 '10.1257/aer.20150491',
 '10.2307/2974414',
 '10.1257/000282805774670419',
 '10.1111/j.1468-0297.2008.02135.x',
 '10.3982/ECTA14176',
 '10.2307/2296403',
 '10.1257/aer.p20161096',
 '10.2307/1913446',
 '10.1257/000282802320191642',
 '10.1111/j.1468-0297.2005.01018.x',
 '10.2307/2226711',
 '10.2307/2234138',
 '10.2307/2226176',
 '10.1257/aer.90.2.48',
 '10.2307/2226528',
 '10.2307/2229793',
 '10.1257/aer.100.2.353',
 '10.1086/257896',
 '10.2307/2231793',
 '10.2307/1884470',
 '10.2307/1907021',
 '10.1111/1468-0297.00181',
 '10.2307/2295763',
 '10.2307/1879552',
 '10.2307/2233264',
 '10.1111/1468-0297.00100',
 '10.1086/257025',
 '10.2307/1907010',
 '10.1257/aer.20171676',
 '10.1111/j.1468-0297.2004.00968.x',
 '10.2307/2230670',
 '10.2307/1884450',
 '10.2307/1884362',
 '10.2307/2296838',
 '10.2307/1883159',
 '10.1111/ecoj.12284',
 '10.1257/aer.p20161078',
 '10.2307/1905484',
 '10.1111/j.1468-0297.2005.01002.x',
 '10.1093/qje/qjx047',
 '10.2307/2235530',
 '10.1086/257789',
 '10.1111/ecoj.12580',
 '10.1257/000282803321947092',
 '10.2307/2234788',
 '10.2307/2230958',
 '10.2307/1880816',
 '10.1111/1468-0297.00593',
 '10.1093/ej/uez017',
 '10.1086/259203',
 '10.2307/1909273',
 '10.2307/1907873',
 '10.1111/j.1468-0297.2008.02188.x',
 '10.1086/257027',
 '10.1257/aer.100.2.94',
 '10.1257/aer.20171541',
 '10.2307/1883998',
 '10.1257/aer.20130817',
 '10.1086/257459',
 '10.1086/255559',
 '10.2307/2234073',
 '10.1086/256675',
 '10.1111/1468-0262.00364',
 '10.2307/2228874',
 '10.2307/2228300',
 '10.1111/ecoj.12502',
 '10.2307/1913487',
 '10.1111/ecoj.12031',
 '10.2307/1880814',
 '10.2307/2226290',
 '10.1086/705373',
 '10.1086/255765',
 '10.2307/2295873',
 '10.2307/1907745',
 '10.2307/1880843',
 '10.1111/j.1468-0297.2010.02356.x',
 '10.1257/aer.p20171147',
 '10.2307/1883029',
 '10.1257/aer.100.2.309',
 '10.2307/2232976',
 '10.1111/ecoj.12538',
 '10.2307/2226381',
 '10.2307/1880702',
 '10.2307/2228172',
 '10.1111/1468-0297.00651',
 '10.1257/aer.100.2.383',
 '10.1086/257880',
 '10.1093/restud/rdy076',
 '10.1111/1468-0262.00057',
 '10.1111/j.1468-0297.2011.02433.x',
 '10.1257/aer.97.2.402',
 '10.1111/j.1468-0297.2009.02271.x',
 '10.1257/aer.p20161111',
 '10.1257/aer.100.2.506',
 '10.2307/1885938',
 '10.1257/aer.p20171051',
 '10.1111/1468-0262.00129',
 '10.2307/1907075',
 '10.2307/1905688',
 '10.1111/ecoj.12084',
 '10.1086/704611',
 '10.2307/2296298',
 '10.2307/2296029',
 '10.1257/0002828041464533',
 '10.1086/256660',
 '10.2307/1882579',
 '10.2307/1883994',
 '10.1257/aer.p20161117',
 '10.2307/2226868',
 '10.1093/qje/qjw017',
 '10.1086/261579',
 '10.1257/aer.20150540',
 '10.2307/2232832',
 '10.1111/1468-0297.00533',
 '10.2307/2230672',
 '10.2307/2295978',
 '10.1257/aer.89.2.176',
 '10.1111/ecoj.12525',
 '10.2307/1907415',
 '10.2307/2233840',
 '10.1257/aer.20170619',
 '10.1086/257921',
 '10.1086/258156',
 '10.3982/ECTA14251',
 '10.1257/aer.100.2.434',
 '10.2307/1905793',
 '10.2307/1884432',
 '10.2307/1885134',
 '10.1257/aer.98.2.351',
 '10.1111/j.1468-0297.2012.02559.x',
 '10.2307/1882708',
 '10.2307/2296056',
 '10.1257/aer.90.4.1019',
 '10.2307/1907290',
 '10.2307/1879638',
 '10.2307/1885760',
 '10.1257/000282806777212477',
 '10.1086/258242',
 '10.2307/2227162',
 '10.1111/ecoj.12087',
 '10.2307/2227507',
 '10.2307/2229567',
 '10.2307/1905701',
 '10.2307/1885072',
 '10.1257/aer.98.2.157',
 '10.1093/qje/qjx017',
 '10.1111/1468-0297.00489',
 '10.2307/2228352',
 '10.1086/258968',
 '10.2307/2225646',
 '10.2307/2228074',
 '10.1086/258544',
 '10.2307/2230172',
 '10.2307/2296181',
 '10.1257/aer.p20161062',
 '10.2307/2230207',
 '10.1111/ecoj.12468',
 '10.2307/2296387',
 '10.2307/1884808',
 '10.1111/j.1468-0297.2011.02450.x',
 '10.1257/aer.20160042',
 '10.2307/2233080',
 '10.1086/262053',
 '10.2307/1907300',
 '10.1257/aer.20161495',
 '10.1086/256617',
 '10.2307/2232499',
 '10.1086/258342',
 '10.2307/1907011',
 '10.1111/1468-0297.00668',
 '10.1086/257988',
 '10.3982/ECTA14718',
 '10.1086/692714',
 '10.1111/j.1468-0297.2007.02093.x',
 '10.1257/aer.98.2.547',
 '10.1086/257724',
 '10.2307/2228950',
 '10.1086/257495',

In [194]:
# Plots 

Freuencyof each journal by year in NEW data

# In old Data

# In Combine daata

                                               metadata   idx
1                                                  PT J   1.0
2                                           AU Rabin, M   1.0
3                                         Weizsacker, G   1.0
4                                     AF Rabin, Matthew   1.0
5                                    Weizsaecker, Georg   1.0
...                                                 ...   ...
996                  PU WILEY-BLACKWELL PUBLISHING, INC  23.0
997                                           PI MALDEN  23.0
998   PA COMMERCE PLACE, 350 MAIN ST, MALDEN 02148, ...  23.0
999                                        SN 0012-9682  23.0
1000                                    J9 ECONOMETRICA  23.0

[1000 rows x 2 columns]

In [190]:
data

                                               metadata idx
1                                                  PT J   1
2                                           AU Rabin, M
3                                         Weizsacker, G
4                                     AF Rabin, Matthew
5                                    Weizsaecker, Georg
...                                                 ...  ..
996                  PU WILEY-BLACKWELL PUBLISHING, INC
997                                           PI MALDEN
998   PA COMMERCE PLACE, 350 MAIN ST, MALDEN 02148, ...
999                                        SN 0012-9682
1000                                    J9 ECONOMETRICA

[1000 rows x 2 columns]

      FN Clarivate Analytics Web of Science
1                                      PT J
2                               AU Rabin, M
3                             Weizsacker, G
4                         AF Rabin, Matthew
5                        Weizsaecker, Georg
...                                     ...
22129                              GA 502SN
22130                UT WOS:000270480500015
22131                         DA 2020-06-17
22132                                    ER
22133                                    EF

[718038 rows x 1 columns]

In [83]:
def scrape_journal(journal, start):
   
    time.sleep(10)

    driver = webdriver.Firefox()
    time.sleep(6) # lazy technical debt 
    driver.get('https://libguides.liverpool.ac.uk/az.php?a=w')
    time.sleep(6) 
    driver.find_element_by_xpath(u'/html/body/main/div/section/p[3]/a').click()
    time.sleep(6) 
    driver.find_element_by_id("logincaptchaform-username").send_keys("erin.hengel@gmail.com")
    driver.find_element_by_id("logincaptchaform-password").send_keys("wYlZYjf1e2")
    elem = driver.find_element_by_xpath('/html/body/main/div/section/form/div[2]/div/input')
    actions = ActionChains(driver)
    actions.click(elem).perform()

    time.sleep(10)


    data = pd.DataFrame([])
    string = journal # gross technical debt 
    string_length = len(string.split())
    root_start = start
     
    for i in tqdm_notebook(range(0,(2019-root_start))): # hardcoded (technical debt)
        
        
        if i > 0:
            driver.switch_to.window(driver.window_handles[0])
            start = start + 1

        
        if string_length ==  1:
            query = "so:" + str(journal) + " yearmin:"  + str(start) 
        else: 
            query = string.split()
            query = ["so:" + x  for x in query]
            query = ' '.join(query)
            query = query + " yearmin:"  + str(start) 
        print(query) 
        time.sleep(10) # Ugly workaround

        if i == 0:
            driver.find_element_by_link_text("Advanced").click()
        else:
            driver.find_element_by_link_text("Modify search").click()
    
        elem = driver.find_element_by_xpath('//*[@id="input-query"]').clear()
        elem = driver.find_element_by_xpath('//*[@id="input-source"]').clear()
        elem = driver.find_element_by_xpath('//*[@id="input-yearmin"]').clear()
        elem = driver.find_element_by_xpath('//*[@id="input-yearmax"]').clear()
        elem = driver.find_element_by_xpath('//*[@id="input-source"]').send_keys(journal)
        elem = driver.find_element_by_xpath('//*[@id="input-yearmin"]').send_keys(start)
        elem = driver.find_element_by_xpath('//*[@id="input-yearmax"]').send_keys(start)
        select = Select(driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/form/fieldset/table/tbody/tr[4]/td/select'))
        select.select_by_value('1000')
        elem = driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div/div/form/fieldset/div/input').click()
        time.sleep(6)
        driver.find_element_by_xpath('//*[@id="sel-all-top"]').click()
        time.sleep(6)
        driver.find_element_by_xpath('//*[@id="select-all-link"]').click()
        time.sleep(6)
        driver.find_element_by_xpath('//*[@id="export-menu-button"]').click()
        time.sleep(6)
        driver.find_element_by_xpath('/html/body/div[2]/div/div[4]/div/div/div/div[2]/div[2]/div[2]/ul/li[3]/ul/li[5]/span').click()
        time.sleep(6)
        driver.switch_to.window(driver.window_handles[1])
        time.sleep(6)
        text= driver.find_element_by_xpath("html").text
        text = pd.DataFrame([x.split(';') for x in text.split('\n')])
        mask = text.applymap(lambda x: x is None)
        cols = text.columns[(mask).any()]
        for col in text[cols]:
            text.loc[mask[col], col] = ''
        cols = text.columns
        text['combined'] = text[cols].apply(lambda row: ','.join(row.values.astype(str)), axis=1)
        text = pd.DataFrame(text.combined)

        # Laziest/Ugliest workaround ever. Technical debt. 
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        text['combined'] = text['combined'].str.replace(',,',',')
        for l in tqdm_notebook(range(0, len(text))):
            string = text.iloc[l,0]
            string = string.rstrip(",")
            text.iloc[l,0] = string

        data = data.append(text)
    
    return(data)

In [ ]:
Quarterly_Journal_of_Economics = scrape_journal("Quarterly Journal of Economics", 1940)
Quarterly_Journal_of_Economics.to_csv("Quarterly_Journal_of_Economics.csv")

Journal_of_Political_Economy = scrape_journal("Journal of Political Economy", 1940)
Journal_of_Political_Economy.to_csv("Journal of Political Economy.csv")

Review_of_Economic_Studies = scrape_journal("Review of Economic Studies", 1940)
Review_of_Economic_Studies.to_csv("Review of Economic Studies.csv")

Econometrica = scrape_journal("Econometrica", 1940)
Econometrica.to_csv("Econometrica.csv")

American_Economic_Review = scrape_journal("American Economic Review", 1940)
American_Economic_Review.to_csv("American Economic Review.csv")

Review_of_Economics_and_Statistics = scrape_journal("Review of Economics and Statistics", 1940)
Review_of_Economics_and_Statistics.to_csv("Review of Economics and Statistics.csv")

Journal_of_Monetary_Economics  = scrape_journal("Journal of Monetary Economics", 1975)
Journal_of_Monetary_Economics.to_csv("Journal of Monetary Economics .csv")

Journal_of_Public_Economics  = scrape_journal("Journal of Public Economics", 1973)
Journal_of_Public_Economics.to_csv("Journal of Public Economics.csv")

Journal_of_Econometrics = scrape_journal("Journal of Econometrics", 1973)
Journal_of_Econometrics.to_csv("Journal of Econometrics.csv")

Journal_of_International_Economics  = scrape_journal("Journal of International Economics", ??)
Journal_of_International_Economics.to_csv("Journal of International Economics.csv")

Journal_of_Economic_Literature  = scrape_journal("Journal of Economic Literature", 1969)
Journal_of_Economic_Literature.to_csv("Journal of Economic Literature.csv")

Journal_of_Dev_Economics  = scrape_journal("Journal of Development Economics", 1974)
Journal_of_Dev_Economics.to_csv("Journal of Development Economics.csv")

Journal_of_Financial_Economics = scrape_journal("Journal of Financial Economics", 1974)
Journal_of_Financial_Economics.to_csv("Journal of Financial Economics.csv")

International_Economic_Review = scrape_journal("International Economic Review", 1960)
International_Economic_Review.to_csv("International Economic Review.csv")

In [76]:
os.chdir("/home/chris/HOPE/") # HARDCODED 
df.to_csv("testtt.csv")

,index,AuthorID,AuthorName,Sex,NativeLanguage,PhDYear,Note
0,0,1,A. Abigail Payne,Female,NaN,NaN,NaN
1,1,2,A. Andrew John,Male,English,NaN,NaN
2,2,3,A. Belloni,Male,NaN,NaN,NaN
3,3,4,A. Colin Cameron,Male,English,NaN,NaN
4,4,5,A. Joshua Strickland,Male,English,NaN,NaN
...,...,...,...,...,...,...,...
8205,8205,9615,Edward Tower,Male,NaN,NaN,NaN
8206,8206,9616,Andrew Feltenstein,Male,NaN,NaN,NaN
8207,8207,9617,Steven Braithwait,Male,NaN,NaN,NaN
8208,8208,9618,John S. Pettengill,Male,NaN,NaN,NaN
8209,8209,9619,Michael J. Prior,Male,NaN,NaN,NaN

In [58]:
os.chdir("/home/chris/HOPE/old junk/old_db/") # HARDCODED 

AuthorAlias =      pd.read_csv("AuthorAlias.csv")
JEL =              pd.read_csv("JEL.csv")
Children =         pd.read_csv("Children.csv")
Nber =             pd.read_csv("Nber.csv")
NBERCorr =         pd.read_csv("NBERCorr.csv")
NBERStat =         pd.read_csv("NBERStat.csv")
sqlite_sequence =  pd.read_csv("sqlite_sequence.csv")
Inst =             pd.read_csv("Inst.csv")
sqlite_stat4 =     pd.read_csv("sqlite_stat4.csv")
InstCorr =         pd.read_csv("InstCorr.csv")
InstAlias =        pd.read_csv("InstAlias.csv")
JournalName =      pd.read_csv("JournalName.csv")
Article =          pd.read_csv("Article.csv")
ReadStat =         pd.read_csv("ReadStat.csv")
sqlite_stat1 =     pd.read_csv("sqlite_stat1.csv")
AuthorCorr =       pd.read_csv("AuthorCorr.csv")
DOICorr =          pd.read_csv("DOICorr.csv")
Author =           pd.read_csv("Author.csv")
EditorBoard =      pd.read_csv("EditorBoard.csv")

In [84]:
os.chdir('/home/chris/HOPE/')
df = pd.read_csv("top5.csv")
df = pd.DataFrame(df.iloc[:,-1])
df["title"] = ""
df.columns = ["metadata", "title"]
df = df[~df.metadata.str.contains("This record is part")]
df = df.iloc[-1000:-1,:]
for k in tqdm_notebook(range(0, len(df))):
    string = df.iloc[k,0]
    if string[:2] == "TI":
        string = str(string)
        df.iloc[k,-1] = string
df = df.replace(r'^\s*$', np.nan, regex=True)
df["title"] = df["title"].ffill()
df = df.dropna()

HBox(children=(FloatProgress(value=0.0, max=999.0), HTML(value='')))

In [85]:
doi = df
doi['prefix'] = df['metadata'].astype(str).str[0:2]

In [90]:
doi= doi[doi["prefix"]== "DO"]

In [23]:
df.to_csv("test.csv")

In [29]:
import numpy as np

In [92]:
df

,metadata,title,prefix
480169,TI: Just Starting Out: Learning and Equilibriu...,TI: Just Starting Out: Learning and Equilibriu...,TI
480170,"AU: Doraszelski, Ulrich, Lewis, Gregory, Pakes...",TI: Just Starting Out: Learning and Equilibriu...,AU
480171,"AF: U PA, Microsoft Research New England, Harv...",TI: Just Starting Out: Learning and Equilibriu...,AF
480172,DO: http://dx.doi.org/10.1257/aer.20160177,TI: Just Starting Out: Learning and Equilibriu...,DO
480173,"SO: American Economic Review, 108(3), March 20...",TI: Just Starting Out: Learning and Equilibriu...,SO
...,...,...,...
481216,"KY: Asymmetric Information, Information, Litig...",TI: An Empirical Analysis of the Signaling and...,KY
481217,GD: U.S.,TI: An Empirical Analysis of the Signaling and...,GD
481218,GR: Northern America,TI: An Empirical Analysis of the Signaling and...,GR
481219,LA: English,TI: An Empirical Analysis of the Signaling and...,LA
481220,UD: 20180712,TI: An Empirical Analysis of the Signaling and...,UD

In [35]:
df

,metadata,title
10,TI: Mr. Keynes and Mr. Marx,TI: Mr. Keynes and Mr. Marx
11,"AU: Alexander, S. S.",TI: Mr. Keynes and Mr. Marx
12,AF: Unlisted,TI: Mr. Keynes and Mr. Marx
13,"SO: Review of Economic Studies, 7(0), February...",TI: Mr. Keynes and Mr. Marx
14,DT: Journal Article,TI: Mr. Keynes and Mr. Marx
...,...,...
1089,DT: Journal Article,TI: National central banking and the internati...
1090,PY: 1947,TI: National central banking and the internati...
1091,DE: International Adjustment Mechanisms: Gener...,TI: National central banking and the internati...
1092,GD: India,TI: National central banking and the internati...
1093,GR: Asia,TI: National central banking and the internati...

In [34]:
print(len(df))
print(len(df))

999
991

In [27]:
df[['normal_price','final_price']]=df[['normal_price','final_price']].fillna(method='ffill')

                                               metadata title
1                                          AF: Unlisted
2     SO: Review of Economic Studies, 8(0), February...
3                                   DT: Journal Article
4                                              PY: 1941
5                DE: General Equilibrium: General 2.140
...                                                 ...   ...
1089                                DT: Journal Article
1090                                           PY: 1947
1091  DE: International Adjustment Mechanisms: Gener...
1092                                          GD: India
1093                                           GR: Asia

[999 rows x 2 columns]

In [ ]:
ArticleID
Journal
PubDate
Title
Abstract
Language
Volume
Issue
FirstPage
LastPage
DOI

In [286]:
# onlyine supplements 
# Online Supplement
# Report of the Editor
# Editors' Introduction
# Foreward

# Connect to SQL Database and reads every Table in the whole DB
# Then converts each table into a .csv file so we can work with themn in Python

# Top 5 Workaround (tech debt) because the original webcrawler did chunks of 2 years instead of 1, need to refactor
# Sooo.. this cell finds and deletes all those  wrongly webscraped duplicates
# Take 4 hours for loop to run... it's certainly not optimized 

#path = '/home/chris/HOPE/data/top5'
#all_files = glob.glob(path + "/*.csv")
#li = []
#for filename in all_files:
#    df = pd.read_csv(filename, index_col=None, header=0)
#    li.append(df)
#df = pd.concat(li, axis=0, ignore_index=True)
#df["duplicates"] = ""
#for k in tqdm_notebook(range(0, len(df))):
#    string = df.iloc[k,1]
###    if string[:2] == "TI":
#        string = str(string)
#        df.iloc[k,-1] = string
#df["duplicates"] = df["duplicates"].replace(r'^\s*$', np.nan, regex=True)
#df["duplicates"] = df["duplicates"].ffill()
#df.duplicates = df.combined + df.duplicates
#df = df.drop_duplicates(subset='duplicates', keep="first")
#df = df.combined
#df.to_csv("top5.csv")

# Create master dataframe

#path = '/home/chris/HOPE/'
#all_files = glob.glob(path + "/*.csv")
#li = []
#df = pd.DataFrame(df.iloc[:,-1])for filename in all_files:
#    df = pd.read_csv#(filename, index_col=None, header=0)
#    li.append(df)
#df = pd.concat(li, axis=0, ignore_index=True)
#
#def to_csv():
#
#    os.chdir("/home/chris/HOPE/") # HARDCODED 
#    db = sqlite3.connect('read.db')
#    os.chdir("/home/chris/HOPE/old_db") # HARDCODED 
#    cursor = db.cursor()
#    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
#    tables = cursor.fetchall()
#    for table_name in tqdm_notebook(tables):
#        table_name = table_name[0]
#        table = pd.read_sql_query("SELECT * from %s" % table_name, db)
#        table.to_csv(table_name + '.csv', index_label='index')
#    cursor.close()
#    db.close()
#
#to_csv()

# Journal 1: AER

#def scrape_aer(base_url, latest_volume, latest_issue):
 #   
#    # Step 1: Find  urls for all issues/volumes
#    html_page = urllib.request.urlopen(base_url)
#    soup = BeautifulSoup(html_page, "html.parser")
#    links = pd.DataFrame([])
#    for link in soup.find_all('a', href=True): # Grab all the URL hyperlinks on the webpage
#        links = links.append(pd.DataFrame(pd.Series(link['href']))) 
#    links.columns = ['url']
#    links = links[links['url'].str.contains("/issues/")]
    
#    # Step 2: Find urls for all individual articles
#    papers = pd.DataFrame([])
#    for i in tqdm_notebook(range(0, len(links))): 
#        # for i in tqdm_notebook(range(0, 1)): 
#        # sleep(randint(3,10)) # Technical debt: optimize sleep timer
#3        new_url = "https://www.aeaweb.org" + str(links.iloc[i,0])
#        html_page = urllib.request.urlopen(new_url)
#        soup = BeautifulSoup(html_page, "html.parser")
#        for paper in tqdm_notebook(soup.find_all('a', href=True)): # Grab all the URL hyperlinks on the webpage
##            papers = papers.append(pd.DataFrame(pd.Series(paper['href'])))
#    papers.columns = ["url"]
#   papers = papers[papers['url'].str.contains("/articles")]
    

#    return(papers)


#df = scrape_aer(base_url = "https://www.aeaweb.org/journals/aer/issues", latest_volume = latest_aer_issue, latest_issue = latest_aer_issue)


   # return(links)
#for i in range(0, 4):
#    url = df.iloc[i,0]
#    url =  "https://www.aeaweb.org" + str(url )
#    if url[-1] == "i":
#        continue
#    print(url)
#    
#    # Turn into soup 
#    html_page = urllib.request.urlopen(url)
#    soup = BeautifulSoup(html_page, "html.parser")
#    
#    # Title
#    title  = str(soup.findAll("h1", {"class": "title"}))
#    title = title[19:-6] # hardcoded
#    
#    # Authors
#    authors = str(soup.findAll("li", {"class": "author"}))
#    authors = authors[50:-6] # hardcoded]
#    authors = pd.DataFrame(authors.split(","))
#    for j in range(0, len(authors)):
#        string = str(authors.iloc[j,0])
#        if j == 0:
#            string = string[3:-5] #harcoded
#        if j > 0: 
#            string = string.replace('</li>','')
#            string = string[50:]
#            string = string.strip()
#        authors.iloc[j,0] = string
#    
#    
#    # Authors#

    #title = title[19:-6]
    # df = title
    #print(doi)
    #title = pd.DataFrame(pd.Series(str(author[1:-1]))) # HARDCODED 
    
    # PROBLEM RE: AFFILIATION # Junk / Under-construction

#def scrape_repec(journal_name, root_url, pages, latest_volume, latest_issue):

#    """
#    This is a webcrawler that crawls through every page/article of a
#    TO DO: Make the webcrawler  "smarter" so that it can detect that there are 17 pages of data to scrape
#    TO DO: Scrape more than 5 journals
#    """#
#
#    # Soupa nd link 
#    links = pd.DataFrame([])
#    for i in tqdm_notebook(range(1, pages)):
#        url = root_url       
#        if i > 1:  # "1" workaround is due to their uniue naming convenitons
#            url = url[:-5] + str(i) + url[-5:]
#        html_page = urllib.request.urlopen(url)
#        soup = BeautifulSoup(html_page, "html.parser")
#        for link in soup.find_all('a', href=True): # Grab all the URL hyperlinks on the webpage
#            links = links.append(pd.DataFrame(pd.Series(link['href']))) 
#    links.columns = ["url"]
#    links = links[links['url'].str.contains("/a/")]
#    links = "https://ideas.repec.org" + links
#    links["metadata"] = links["url"]
#
#    # Metadata manipulation; haervests volume, issue, year, and pages of the scrape d ata
#    # TECHNICAL DEBT! These 6 lines are ugly and gross
#    links["metadata"] = links["metadata"].str.split("v", n=1, expand=True)[1]
#    links["Volume"] = links["metadata"].str.split("y", n=1, expand=True)[0]
#    links["metadata"] = links["metadata"].str.split("y", n=1, expand=True)[1]
#    links["y"] = links["metadata"].str.split("i", n=1, expand=True)[0]
#    links["metadata"] = links["metadata"].str.split("i", n=1, expand=True)[1]
#    links["Issue"] = links["metadata"].str.split("p", n=1, expand=True)[0]
##    links["metadata"] = links["metadata"].str.split("p", n=1, expand=True)[1]
#    links["FirstPage"] = links["metadata"].str.split("-", n=1, expand=True)[0]
#    links["metadata"] = links["metadata"].str.split("-", n=1, expand=True)[1]
##    links["LastPage"] = links["metadata"].str.split(".", n=1, expand=True)[0]
 #   links = links.drop(columns = ["metadata"])
 #   links["Volume"] = pd.to_numeric(links["Volume"])
 #   links = links[links["Volume"] > latest_volume] # CUTOFF FOR NEWEST ONLY 
 #   
 #   # Now we loop through all the individual URLs to scrape some more specific metadata
 #   # Question: Do citations from the original data soruce hold up?
 #   data = pd.DataFrame([]) # intialize empty dfs to be filled up in loop
 #   authors = pd.DataFrame([])
 #   for url in tqdm_notebook(links["url"]):
 #       df = links[links["url"] == url]
 #       html_page = urllib.request.urlopen(url)
 #       soup = BeautifulSoup(html_page, "html.parser")
        
        # Author(s)        
  #      author = str(soup.find(id ="author"))
  #      author = pd.DataFrame(pd.Series(str(author[1:-1]))) # HARDCODED 
        # Question - how to get institution?
        # Question - Institution 
        
  #      # Title
  #      title = str(soup.find(id ="title"))
  #      title = str(title[21:-11]) # HARDCODED 
   #     df["Title"] = title

        # Abstract        
    #    abstract = str(soup.find(id ="abstract-body"))
    #    abstract = str(abstract[24:-6]) # HARDCODED 
    #    df["Abstract"] = abstract

        # Citations
     #   citations = str(soup.find(id ="cites-tab"))
     #   if len(citations) == 4:
     #       df["CiteCount"] = 0
     #   else:
     #       citations = str(citations.split("role")[1])
     #       citations = str(citations.split("Citations")[0])
     ##       citations = str(citations.split(">")[1])
      #3#      df["CiteCount"] = citations
       # 
        # Create empty columns (quick/dirty workaround) that formats table such that you can append it to SQL 
       # df["Journal"] = journal_name
       # df["index"] = "MISSING"
       # df["ArticleID"] = "MISSING"
       # df["Language"] = "MISSING"
       # df["Received"] = "MISSING"
       # df["Accepted"] = "MISSING"
       # df["Part"] = "MISSING"
       # df["Comments"] = "MISSING"
       # df["Note"] = "MISSING"
       # df["PubDate"] = "MISSING"
       # df = df.drop(columns = ["y", "url"]) #  Technical debt 
       #3 
       #3 # Append!
       ## data = data.append(df) 
        #authors = authors.append(author)
 #   data = data[Article.columns] # HARDCODED 
 #   data = pd.DataFrame(data)
    
  #  return(data, authors)

# TOMROROW: FInish all 17 tables
#qje, authors = scrape_repec(journal_name = "QJE", root_url = "https://ideas.repec.org/s/oup/qjecon.html", pages = 10, latest_volume = latest_qje_volume, latest_issue = latest_qje_issue) 
# Write to folder (WORKAROUND!)

#os.chdir("/home/chris/HOPE/new_db") # HARDCODED 
#qje.to_csv("Article.csv")
#aer = scrape_article_urls(journal_name = "AER",root_url = "https://ideas.repec.org/s/aea/aecrev.html", pages = 10, latest_volume = latest_aer_volume, latest_issue = latest_aer_issue)
#jpe = scrape_article_urls(journal_name = "JPE",root_url = "https://ideas.repec.org/s/ucp/jpolec.html", pages = 10, latest_volume = latest_jpe_volume, latest_issue = latest_jpe_issue)
#eca = scrape_article_urls(journal_name = "ECA",root_url = "https://ideas.repec.org/s/ecm/emetrp.html", pages = 10, latest_volume = latest_eca_volume, latest_issue = latest_eca_issue)
#res = scrape_article_urls(journal_name = "RES",root_url = "https://ideas.repec.org/s/oup/restud.html.html", pages = 10, latest_jres_volume = 2, latest_issue = latest_res_issue)

#html_page = urllib.request.urlopen("https://ideas.repec.org/a/oup/qjecon/v125y2010i2p729-765..html")
#soup = BeautifulSoup(html_page, "html.parser")
#        # Author(s)        
#author = str(soup.find(id ="listed-authors"))
#print(author)
#author = pd.DataFrame(pd.Series(str(author[1:-1]))) # HARDCODED 
#authorr = pd.DataFrame(pd.Series(str(author.split("authorname",1))))
#authorr.iloc[0,0] = authorr.iloc[0,0][82:-20] #HARDCODED (gross)
#
#print(authorr.iloc[0,0])
#
#    print(authorr[i])
# JEL Codes per Journal - how have they evolved over time?
# Technichal debt - can be made much sleeker
#set(JournalName.Journal)
#ECA_articles = set(Article[Article["Journal"] == "ECA"].iloc[:,1])
#AER_articles = set(Article[Article["Journal"] == "AER"].iloc[:,1])
#JPE_articles = set(Article[Article["Journal"] == "JPE"].iloc[:,1])
#RES_articles = set(Article[Article["Journal"] == "RES"].iloc[:,1])
#QJE_articles = set(Article[Article["Journal"] == "QJE"].iloc[:,1])
#top5_articles = [ECA_articles, AER_articles, JPE_articles, RES_articles, QJE_articles]

# Make flags for every JEL code via loop
# I figure we might need these flags for fixed effects or something at some point
#df = Article # I just like working with df better
#articles = set(Article.ArticleID)
#JEL_codes =
#for article in tqdm(articles):

# Now split this graph into two
#    chunk = JEL[JEL["ArticleID"] == article]
#    moving average of JEL codes per year per journal
#
#    print(df)
#    print(article)

# That's a picture for the entier thign, yes but how have they evolved over time?
# 1 Pie Chart Per Decade Per Journal of JEL Codes
# Investigate articles with zero JEL codes. Is that something I have to go get?

#JEL
#JEL_tally = JEL.groupby("JEL").count()
#JEL_tally = JEL_tally.iloc[:,1]
#print( JEL_tally )

# The growth of the averga page length over time

# Difference in page length between men and women

# Exploratory regressions

# Descriptive Statistics

# Break it down by Author Order

# Productiviy per Age -  broken down by Gender
    # Metric 1: Average number of citations/publications for each age

# Quantifying Dynamics of Gendered Network Formation
# First turn everything into nodes and edges

#nodes = JEL
#https://programminghistorian.org/en/lessons/exploring-and-analyzing-network-data-with-python


#c = conn.cursor()

# New Journal IDs
# Create table
#c.execute('''CREATE TABLE stocks
#             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
# c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
#conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
#conn.close()
    #print("Landing Page...")
    #driver.get('https://www.aeaweb.org/econlit/')
    #driver.find_element_by_link_text("Log In").click()
    #time.sleep(5) 
    #print("Dashboard..")
    #driver.find_element_by_id("logincaptchaform-username").send_keys("erin.hengel@gmail.com")
    #3driver.find_element_by_id("logincaptchaform-password").send_keys("wYlZYjf1e2")
    #elem = driver.find_element_by_xpath('/html/body/main/div/section/form/div[2]/div/input')
    #actions = ActionChains(driver)
    #actions.click(elem).perform()
    #time.sleep(5) 
    #print("AEA for Members..")
    #driver.get('http://efm.aeaweb.org/vivisimo/cgi-bin/query-meta?v:project=econlit&v:frame=form&frontpage=1')
    #driver.quit()
    
    
    
#def find_latest(journal):
 #   
#    """
#    This function finds the "newest" metadata and saves it as variables that we use later on
#    We then use these variables later on to automate thresholds and cutoffs
#    This is done bcause we specficially do NOT WANT to grab any data prior to our cutoff
#    """
#    
#    data = Article[Article["Journal"] == journal]
#    data = data.sort_values(by=["Volume", "Issue"])
 #   data = pd.DataFrame(data.iloc[-1,:])
#    data = data.T
#    volume = int(data["Volume"])
#    issue = int(data["Issue"])

 #   return(volume, issue)

#latest_eca_volume, latest_eca_issue = find_latest("ECA")
#latest_aer_volume, latest_aer_issue = find_latest("AER")
#latest_jpe_volume, latest_jpe_issue = find_latest("JPE")
#latest_qje_volume, latest_qje_issue = find_latest("QJE")
#latest_res_volume, latest_res_issue = find_latest("RES")